.bg-rick {
  min-height: 18rem;
  background-image: url(./img/bgrick02.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.box-shadow {
  -webkit-box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px 0 rgba(255, 255, 255, 0.5);
  background-color: #e1e1e1;
}

.residentContainer {
  background-color: black;
  min-height: 100vh;
  height: 100%;
}

.notHabitants {
  height: 100%;
  width: 100%;
  background-image: url(./img/bg-rick-notHabitants.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.outMargin p {
  margin: 0;
}
